<% console.log(typeof(allRabbits[0].dob)) %>

<h2>The Warren</h2>
<table id='rabbitlist'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Breed</th>
        <th>DOB</th>
        <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      <% for (var i in allRabbits) { %>
      <tr>
        <th><%= allRabbits[i]._id %></th>
        <th><%= allRabbits[i].name %></th>
        <th><%= allRabbits[i].breed %></th>
        <th><%= allRabbits[i].dob.toString() %></th>
        <th><button class="edit" data-id="<%=allRabbits[i]._id%>" data-name="<%=allRabbits[i].name%>" data-breed="<%=allRabbits[i].breed%>" data-dob="<%=allRabbits[i].dob%>" type="button" >edit</button>
            <button class="delete" data-id="<%=allRabbits[i]._id%>" data-name="<%=allRabbits[i].name%>" data-breed="<%=allRabbits[i].breed%>" data-dob="<%=allRabbits[i].dob%>" type="button" data-confirm="Are you sure to delete this rabbit?">delete</button>
            <button class="show" data-id="<%=allRabbits[i]._id%>" data-name="<%=allRabbits[i].name%>" data-breed="<%=allRabbits[i].breed%>" data-dob="<%=allRabbits[i].dob%>" type="button" >show</button>
        </th>
      </tr>
      <% } %>
  </tbody>
</table>
<script>
$("#rabbitlist").tablesorter({headers: {
        4:{sorter:false}
    }
});
</script>
